.menu
{
    margin: 100px 0px 0px 0px;
}
.btn{
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    /*padding: 15px 15px;*/ /* Add some padding */
    background-color: #2196F3;
    width: 150px;
    height: 50px;
}
.btn:hover {background: #0b7dda;}

.SandboxImage {
    width: 25%;
}

#inset  {
    width: 200px;
    height: 200px;
    background-color: #fff; /* or transparent; will show through only if renderer alpha: true */
    border: 1px solid black; /* or none; */
    margin: 20px;
    padding: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}


